@import './reset.css';

:root {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
.imagePlaceholder {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.imagePlaceholder:empty::after,
.cardName:empty::after {
  content: 'Unknown';
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cardWrapper {
  display: flex;
  align-items: stretch;
  margin: 2rem 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.imageWrapper {
  width: inherit;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imagePlacement {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cardImage {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

.cardName {
  font-size: 1.5em;
  margin: 10px 0;
}

.cardDescription {
  opacity: 0.6;
  font-style: italic;
}

.icon {
  margin-top: 30px;
  margin-right: 15px;
  border: 1px solid #e8ecee;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
.icon:hover {
  background-color: #3c81e9;
  border-color: #3c81e9;
  transition: background-color, color, 0.3s;
}
